<div class="header">
  <h1 class="header-title">UI Sandbox</h1>
</div>

<div class="section-block">
  <h2 class="section-title">Explore Components</h2>
  <p class="section-content">
    This is where you can test and experience the reusable components from the
    design system. Install the package and see how easily it integrates into
    your applications.
  </p>
</div>
<hr />

<div class="block-card">
  <div class="container">
    <lib-ak-card>
      <div card-header>Journey to the Stars</div>
      <div card-body>
        Explore the mysteries of the universe! From the birth of galaxies to the
        dance of black holes, every moment in space is a testament to the beauty
        of the cosmos.
      </div>
      <div card-footer>
        <button>Discover More</button>
      </div>
    </lib-ak-card>
  </div>
</div>

<div class="block-card">
  <div class="container">
    <lib-ak-card>
      <div card-header>Exploration of Exoplanets</div>
      <div card-body>
        Join us in the search for Earth-like planets. Who knows? The next
        exoplanet we discover could be home to alien life or the next chapter in
        human exploration.
      </div>
      <div card-footer>
        <button>Join the Expedition</button>
      </div>
    </lib-ak-card>
  </div>
</div>

<div class="block-card">
  <lib-ak-card>
    <div card-header>Voyage Through Time</div>
    <div card-body>
      Embark on an epic journey through the ages. From the Big Bang to the
      present, every moment in time holds a secret waiting to be discovered.
    </div>
    <div card-footer>
      <button>Start the Journey</button>
    </div>
  </lib-ak-card>
</div>
